* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui;
    text-align: -webkit-center;
    background-color: rgba(245, 40, 40, 0.075);
    line-height: 2em;
    color: rgba(165, 42, 42, 0.959);
}

h1{
    font-size: 3em;
    color:rgba(245, 40, 40, 0.904);
    margin: 1em;
}

header{ 
    background-color: rgb(245, 40, 40);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}   

.menu a li{
    font-size: 1.1em;
    display: inline-block;
    font-weight: 550;
    padding: 0.5em;
    color: aliceblue;
}

footer{
    background-color: rgba(245, 40, 40, 0.959);
    color: aliceblue;
    padding: 1em;
    font-style: italic;
}

footer a img{
    width: 3em;
}

span{
    font-style: italic;
    font-weight: 600;
    margin: 0.5em;

}

.submenu{
    background-color: rgba(245, 40, 40, 0.904);
    font-size: 1.5em;
    padding: 1.3em;
}

.submenu a{
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}

section{
    padding: 2em;
    margin: 1rem;
    text-align: start;
    color: rgba(165, 42, 42, 0.959);


}




.caja1{
 
    line-height: 40px;
}

#cuotasGalileo{
    background-color: rgba(245, 40, 40, 0.070);
    ;
}
        
        
