
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.menu{
    width: 100%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 40, 40);
}



.menu img{
    width: 15em;
    height: 5em;
    margin: 1em;
}

.menu a li{
    font-size: 1.2em;
    display: inline-block;
    padding: 0.5em;
    font-weight: 600;
    color: aliceblue;
    text-decoration: none;
}

.menu li:hover {
    background-color:rgba(228, 158, 158, 0.63);
    border-radius: 150px;
  }

h1{
    font-size: 3em;
    color:rgba(245, 40, 40, 0.904);
    margin: 0.5em 0.5em 0 0.5em;
    text-align: center;
}

h5{
    font-size: 1em;
    color:rgba(245, 40, 40, 0.904);
    margin-bottom: 0.5em;
    text-align: center;
}

.submenu{
    background-color: rgba(245, 40, 40, 0.904);
    font-size: 1.5em;   
    text-align: center;
  
}

.submenu a{
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}

.submenu a li{
    padding: 0.5em;
}

.submenu a li:hover {
background-color:aliceblue;
color: rgba(245, 40, 40, 0.904);
font-size: 1.2em;
}

section{
    padding: 1em;
    text-align: center;
    line-height: 2em;
}

section p img{
    width: 60%;
    padding: 1em;
text-align: center;
}

h2{
  color: rgba(245, 40, 40, 0.959);
  margin: 0.5em;
  text-align: center;
  font-size: 2em;
}

h3{
  color: rgba(245, 40, 40, 0.959);
  margin: 0.5em;
  text-align: center;
  font-size: 1.5em;
text-decoration-line: underline;
  text-decoration-color: (245, 40, 40, 0.959);
}
  span{
    font-style: italic;
    font-weight: 600;
    margin: 0.5em;
    font-size: 1.2em;
}

footer{
    background-color: rgba(245, 40, 40, 0.959);
    color: aliceblue;
    padding: 1em;
    font-style: italic;
    text-align: center;
}

footer a img{
    width: 3em;
}

span{
    font-style: italic;
    font-weight: 600;
    margin: 0.5em;

}



.link{
    padding: 0.38em;
    background-color: rgba(245, 40, 40, 0.692);
    color: aliceblue;
    font-family: monospace;
    border-radius: 0.8em;
    text-decoration: none;    
}

form{
    padding: 1.5em ;
    margin: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    border-radius: 4px;

}

input, textarea, select{
    width: 100%;
    padding: 0.5em;
    border: none;
    border-left: 3px solid rgba(245, 40, 40, 0.692);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5em;
    border-radius: 4px;

}



.dominiosBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .domBox {
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    text-align: center;
  }

  .domBox img {
    width: 100%;
    height: 18em;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .btn {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: rgba(189, 60, 77, 0.719);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
  }


  .btn:hover {
    background-color: rgba(189, 60, 77, 0.842);
  }
  .tarjetas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .tarjeta {
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .tarjeta h3 {
    margin-top: 0;
    color: #333;
  }

  .tarjeta p {
    margin: 8px 0;
    color: #555;
  }

.container{
    display: flex;
    padding: 1em;
    margin: 1em;
    gap: 2em;
    justify-content: space-between;
}

.container h4{
  text-align: center;
  font-size: 2em;
  margin: 0.5em;
  color:rgba(245, 40, 40, 0.904);

}

.container p{
  margin: 0.5em;
  font-weight: bold;
}

.container div{
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  padding: 1em;

}


.container div:hover{
  box-shadow: 0 0 10px rgba(245, 40, 40, 0.692);
      background-color: rgba(255, 255, 255, 0.719);


}

.flecha{
  width: 1.5em;
  margin-left: 95%;
}

#reportes img{
  width: 70%;
  padding: 1em;
}

#smart img{
  width: 85%;
  padding: 1.2em;
}

.users{
  border-left: 3px solid rgba(245, 40, 40, 0.692);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin: 2em 20em 2em 20em; 
 border-radius: 4px;
  
}


#niubiz img{
  width: 45%;
  padding: 1em;
}
.fondo{
  background-color: rgba(245, 40, 40, 0.116);
}
#prioridad img{
  width: 85%;
  padding: 1.2em;
}
#bbva img{
  width: 80%;
  padding: 1.2em;
}
#pnr img{
  width: 85%;
  padding: 1.2em;
}

#void img{
  width: 85%;
  padding: 1.2em;
}

 table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
  
    }
    th, td {
      border: 1px solid #999;
      padding: 8px;
      text-align: center;
      font-size: 14px;
    }
    th {
      background-color: #c01d1db9;
            color: aliceblue;

    }
    .hora {
      background-color: #c01d1db9;
      font-weight: bold;
                  color: aliceblue;

    }
    .agente {
      background-color: #ffffff;
    }
    .capa
  {
      background-color: #230ee470;
    color: aliceblue;
    font-weight: bold;
  }

  details {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 15px;
    }
    summary {
      font-weight: bold;
      cursor: pointer;
      outline: none;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    details[open] summary::after {
      content: "▲";
      float: right;
    }
    summary::after {
      content: "▼";
      float: right;
    }