* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui;
    text-align: -webkit-center;
    background-color: rgba(245, 40, 40, 0.075);
    line-height: 2em;
    color: rgba(165, 42, 42, 0.959);
}

h1{
    font-size: 3em;
    color:rgba(245, 40, 40, 0.904);
    margin: 1em;
}

header{ 
    background-color: rgb(245, 40, 40);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}   

.menu a li{
    font-size: 1.1em;
    display: inline-block;
    font-weight: 550;
    padding: 0.5em;
    color: aliceblue;
}

footer{
    background-color: rgba(245, 40, 40, 0.959);
    color: aliceblue;
    padding: 1em;
    font-style: italic;
}

footer a img{
    width: 3em;
}

span{
    font-style: italic;
    font-weight: 600;
    margin: 0.5em;

}

.cardAgent{
    border: rgba(245, 40, 40, 0.562) solid 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(245, 40, 40, 0.562);
    color: aliceblue;
    margin: 3.5em;
    width: 60%;
}

.cardAgent img{
    border-radius: 50%;
    width: 40%;
    margin: 2em;
}

.cardAgent div{
    background-color: rgba(216, 9, 9, 0.164);
    border-radius: 0.5rem;
    padding: 1em;
    width: 30%;
    margin: 1em;
}

.cardAgent li{
    list-style-type: none;
    padding: 0.5em;
    margin: 0.5em;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;    
}

.submenu{
    background-color: rgba(245, 40, 40, 0.904);
    font-size: 1.5em;
    padding: 1.3em;
}

.submenu a{
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}

section{
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}  

section p{
    padding: 1.3em;
}

section p a{
    color: rgba(165, 42, 42, 0.959);
}

section img{
    width: 80%;
    margin: 1em;
}

section ul li {
    list-style-type: none;
    text-decoration: none;
}

section ol li {
    list-style-type: none;
    font-weight: 700;
    text-decoration: none;
}

section ul li a{
    color: rgba(165, 42, 42, 0.959);

}

section div{
    width: 60%;
    margin: 1em;
    padding: 1.2em;
}

#prioridad{
    background-color: rgba(245, 40, 40, 0.070);
    
}

#cuotasGalileo{
    background-color: rgba(245, 40, 40, 0.070);
    ;
}

#prioridad ol{
    padding-left: 4em;
    text-align: start;
    font-weight: 500;


}

.red{
    border: solid 0.3em rgba(255, 0, 0, 0.644) ;
}

.orange{
    border: solid 0.3em rgba(255, 145, 0, 0.644) ;
}

.green{
    border: solid 0.3em rgba(115, 172, 29, 0.884);
   
}

.tips{
    padding: 4em;
    border: solid 0.5em;
}

.tips h3{
    font-size: 1.5em;
    margin-bottom: 1em;
}


#ae{

    background-color: rgba(245, 40, 40, 0.070);
}

#ae li{
    margin:1em;
    margin-bottom: 2em;
  
}

#bankias ul{
    margin-bottom: 2em;
}

.plus{
    padding: 2.5em;
    border: solid 0.5em;
}

.link{
    padding: 0.38em;
    background-color: rgba(245, 40, 40, 0.692);
    color: aliceblue;
    font-family: monospace;
    font-weight: 550;
    border-radius: 1em;
    text-decoration: none;

    
}

#cobros{
    background-color: rgba(245, 40, 40, 0.070);
}

#gds ul{
width: 100%;
display: flex;
align-items: inherit;
}

#gds img{
    width: 85%;

}


#rva{

    background-color: rgba(245, 40, 40, 0.070);
}
#emision{

    background-color: rgba(245, 40, 40, 0.070);
}

#logueo img{    
    width: 30%;
}

#rva img{    
    width: 45%;
}

#rva div{    
    width: 28%;
    background-color: rgba(240, 248, 255, 0.432);
}

#emision img{    
    width: 45%;
}


#involA{
    background-color: rgba(245, 40, 40, 0.070);
}

form{
    padding: 1.5em ;
    margin: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    border-radius: 4px;

}

input, textarea, select{
    width: 100%;
    padding: 0.5em;
    border: none;
    border-left: 3px solid rgba(245, 40, 40, 0.692);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5em;
    border-radius: 4px;

}

#qw3{
    background-color: rgba(245, 40, 40, 0.070);
    
}