
body{
    background-color: rgba(255, 136, 0, 0.407);
    margin: 0;
}

header{    
        background-color: rgb(245, 40, 40);
        padding: 1em;
        display: flex;
        justify-content: space-around;
}   

.menu a li{
    font-family: system-ui;
    font-size: 1.1em;
    display: inline-block;
    font-weight: 550;
    padding: 0.5em;
    color: aliceblue;
}

div{
    background-color: rgba(255, 136, 0, 0.407);
    padding: 1rem;
    
}

.cardAgent{
    border: rgb(193, 38, 64) solid 0.2rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color:  rgba(255, 136, 0, 0.407);
    margin: 1rem;
}



section{
    border: rgb(193, 38, 64) solid 0.2rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color:  rgba(255, 136, 0, 0.407);
    margin: 1rem;
    
    
}

section ol li{
    
    list-style-type: none;    }
    
    section ul{
        
        list-style-type: none;    }
        
        
